<div class="container-home">
  <div class="home-banner">
    <h1>Toutes les listes</h1>
  </div>
  <% @lists.each do |list| %>
    <ul>
      <li>
        <%= link_to list.name, list_path(list) %>
      </li>
    </ul>
  <% end %>
</div>
